/* Background image displayed on website */
body {
  background-color: #D9BCC7;
}

/* Font on navbar and links */
.navbar-brand {
  font-family: 'Solway', serif;
  font-weight: bold;
}

.nav-link {
  font-family: 'Solway', serif;
}

/* Paragraph link color */
a {
  color: #c13b79;
}

/* Paragraph link hover color */
a:hover {
  color: #7e3c5a;
  text-decoration: none;
}

/* Card margins and border */
.card {
    margin-top: 40px;
    margin-bottom: 30px;
    border-color: #78d9cf;
    border-width: 2px;
}

/* Header font and color  */
h1 {
  font-family: 'Solway', serif;
  font-size: 35px;
  font-weight: bold;
  color: #c13b79;
  text-align: center;
}

h2 {
  font-family: 'Solway', serif;
  font-size: 25px;
  font-weight: bold;
  color: #c13b79;
  text-align: center;
}

/* Horizontal line formatting */
hr {
  border: 1px dashed #3ca59b;
}

/* Paragraph font */
p {
  font-family: 'Gothic A1', sans-serif;
}

/* List font */
li {
  font-family: 'Gothic A1', sans-serif;
}


/* Profile image position */
#profile {
    float: right;
    padding-left: 10px;
    padding-bottom: 5px;
    margin: 0 auto;
}

/* Portfolio image */
.portfolio {
  padding-bottom: 15px;
  display: flex;
  align-items: center;
}

/* Labels for contact form */
label {
  font-family: 'Solway', serif;
  font-size: 18px;
}

/* Button colors */
.btn-primary {
  background-color: #3ca59b;
  border-color: #3ca59b;
}

.btn-primary:hover {
  background-color: #78d9cf;
  border-color: #78d9cf;
}

.btn-primary:active {
  background-color: #78d9cf;
  border-color: #78d9cf;
}

.btn-primary:focus {
  background-color: #78d9cf;
  border-color: #78d9cf;
}

/* Footer */
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-top: 50px;
    height: 50px; /* Set the fixed height of the footer here */
    line-height: 50px;
    text-align: center; /* Vertically center the text there */
    background-color: #353a3f;
  }

/* Footer text */
  .muted {
    font-family: 'Solway', serif;
    color: white;
  }
  
/* If the screen is 768px or smaller */
@media screen and (max-width: 768px) {

  /* Portfolio image formatting */
   .portfolio {
     margin: 0 auto;
   }

}
